.ButtonPosition {
    display: flex;
    top: 0;
    margin-bottom: 10px;
}
.Flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: static;
}
.White {
    margin: 2px;
    background-color: rgba(255, 255, 255, 0.89);
}
.Dark {
    margin: 2px;
    background: #969ea5;
    border: solid 1px #c3c3c3;
    color: #212f39;
}