.Main {
    padding: 80px ;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}
.Text {
    margin-bottom: 10px;
    font-size: 20px;
}

.Dark{
    background: #212f39;
    color: #aaaeba;
}
.White {
    color: #27353f;
    background: #aaaeba;
}